blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}
$colors: #f5f1f1,
              #ece7e7,
              #d4d0d0,
              #f5f1f1,
              #ece7e7,
              #d4d0d0,
              #f5f1f1,
              #ece7e7,
              #d4d0d0,
              #f5f1f1,
              #d4d0d0,
              #ece7e7,
              #d4d0d0;

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  margin: 3rem;
  font-size:32px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1rem;
  cursor: pointer;

  .card {
    transition: transform 1s;
    @for $i from 1 through 12 {
      &:nth-of-type(#{$i}) {
        background: nth($colors, $i);
      }
    }

    &:hover {
      transform: translateY(-10px);
    }

    img {
      width: 100%;
    }

    .info {
      padding: 1rem;
    }
  }
}
